/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.book::after{
  content: "";
  display: inline-block;
  height: 0.5em;
  vertical-align: bottom;
  width: 60%;
  margin-left: px;
  border-top: 1px solid rgb(183, 212, 18);  
}

.book{
  margin-left: 20px;
  text-align: center;
}

.title{
  text-align: center;
  color: green;
}
.book::after{
  content: "";
  display: inline-block;
  height: 0.5em;
  vertical-align: bottom;
  width: 60%;
  margin-left: px;
  border-top: 1px solid rgb(183, 212, 18);  
}

.book{
  margin-left: 20px;
  text-align: center;
}

.title{
  text-align: center;
  color: green;
} */


*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.4;
}
a{
  color: #333;
  text-decoration: none;
}
.container{
  width:100%;
  flex-direction: column;
}
.header h1, .header .breadcrumb{
  text-align: center;
}
/* Books */
.book{
  margin-top:5px;
  margin-bottom:15px;
  border-bottom: 1px solid rgb(209, 209, 209);
  display: flex;
}
.book img{
  align-self: center;
}
.book,.page, .list{
  padding: 5px 10px;
}
.book div{
  padding-left:10px;
}
.book h2{
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.book .author{
  color:rgb(90, 90, 90);
  font-weight: bold;
}
.book .price{
  font-size: 1.2em;
  font-weight:bold;
  font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.book .text{
  width:100%;
}
.previous,.next,
.book .add-button,
.searchBar input[type=submit]{
  padding: 8px 10px;
  border: 0px;  
  border-radius: 5px;
  min-width: 80px;
  color:#fff;
  float: right;
  font-size:1.1em;
  transition: background-color 0.5s ease;
}
.book .add-button{
  background-color: rgb(4, 103, 252);
}
.searchBar input[type=submit]:hover,
.book .add-button:hover{
  background-color: rgb(92, 157, 253);
}

.previous,.next{
  background-color: rgb(255, 166, 0);
  color:#000;
}
.previous:hover,.next:hover{
  background-color: rgb(255, 200, 1);
}

.previous:disabled,.next:disabled,
.book .add-button:disabled{
  background-color: rgb(197 197 197);
  color: #919191;
  font-weight: normal;
}
.book .remove-button{
  padding: 10px 15px;
  border: 0px;
  border-radius: 20px;
  color:#fff;
  float: right;
  font-size:1.1em;
  background-color: #bd1515;
  font-weight: bold;
  font-size: 1.2em;
}

.searchBar{
  text-align: center;
}
.searchBar form{
  width:100%;
  padding-bottom:20px;
  border-bottom:1px solid #dbdbdb;
}

.searchBar input[type=text]{
  border-radius: 5px;
  padding: 5px 10px;
  color:#000;
  font-size:1.3em;
  border:2px solid #9e9e9e;
  width:80%;
  margin-right:5px;
}

.searchBar input[type=submit]{
  background-color:rgb(4, 103, 252);
  width:15%;
  margin-right:5px;
}

.button{
  background-color: rgb(68, 94, 244);
  color: azure;
  padding: 4px 8px;
  
}

.aboutPage{
  flex-wrap: wrap;
  background-color: rgb(218, 243, 235);
  display: block;
}

.navigation{
  background-color: rgb(234, 200, 88);
  flex-direction:column;
  align-items: flex-end;
  /* gap: 10px; */
  padding: 9px 15px 8px;
  border-right: 1px solid #000;
  column-gap: 50px;
  
}
.link{
  color: aqua;
}

.h1{
  text-align: center;
}
.about{
  text-align: center;
}
.home{
  /* background-color: #919191; */
  text-align: center;
  margin-left: 20px;
}

.basket,.pages {
  text-align: center;
}
.pages button{
  margin-left:5px;
  margin-right:5px;
}
.pages div{
  display: inline-block;
  vertical-align: center;
  width:33%;
}
.pages div:first-child button{
  float: left;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .container{
    width:50%;
    margin: 0 auto;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}
